@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Regular.woff2) format('woff2'),
    url(../assets/fonts/Manrope-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Medium.woff2) format('woff2'),
    url(../assets/fonts/Manrope-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Semibold.woff2) format('woff2'),
    url(../assets/fonts/Manrope-Semibold.woff) format('woff');
}
