@import-normalize; /* bring in normalize.css styles */
@import url('../src/styles/fonts.css');

:root {
  --black-color: #0a0a11;
  --black-fifty-color: rgba(10, 10, 17, 0.5);
  --black-forty-color: rgba(10, 10, 17, 0.4);

  --dark-blue-color: #161f37;
  --dark-blue-fifty-color: rgba(22, 31, 55, 0.5);
  --dark-blue-twenty-color: rgba(22, 31, 55, 0.2);

  --grey-color: #434d67;

  --blue-color: #4070cd;
  --blue-fifty-color: rgba(64, 112, 205, 0.5);

  --light-green-color: #bce6d2;
  --light-green-forty-color: rgba(188, 230 210, 0.4);

  --white-color: #f3f3f3;
  --white-ten-color: rgba(243, 243, 243, 0.1);
  --white-twenty-color: rgba(243, 243, 243, 0.2);
  --white-thirty-color: rgba(243, 243, 243, 0.3);
  --white-forty-color: rgba(243, 243, 243, 0.4);
  --white-fifty-color: rgba(243, 243, 243, 0.5);

  --red-error-color: #da1414;
  --red-error-fifty-color: rgba(218, 20, 20, 0.5);
  --green-success-color: rgba(60, 188, 129, 1);
  --green-success-fifty-color: rgba(60, 188, 129, 0.5);

  --start-page-txt-color: #fafafa;

  --linear-start-color: rgba(10, 10, 17, 0.03);
  --linear-end-color: rgba(10, 10, 17, 0.8);

  --transition: 500ms ease-in;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  /* line-height: 18px; */
  color: var(--white-color);
  background-color: var(--black-color);

  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
