@import-normalize;
/* bring in normalize.css styles */

:root {
  --black-color: #0a0a11;
  --black-fifty-color: rgba(10, 10, 17, 0.5);
  --black-forty-color: rgba(10, 10, 17, 0.4);

  --dark-blue-color: #161f37;
  --dark-blue-fifty-color: rgba(22, 31, 55, 0.5);
  --dark-blue-twenty-color: rgba(22, 31, 55, 0.2);

  --grey-color: #434d67;

  --blue-color: #4070cd;
  --blue-fifty-color: rgba(64, 112, 205, 0.5);

  --light-green-color: #bce6d2;
  --light-green-forty-color: rgba(188, 230 210, 0.4);

  --white-color: #f3f3f3;
  --white-ten-color: rgba(243, 243, 243, 0.1);
  --white-twenty-color: rgba(243, 243, 243, 0.2);
  --white-thirty-color: rgba(243, 243, 243, 0.3);
  --white-forty-color: rgba(243, 243, 243, 0.4);
  --white-fifty-color: rgba(243, 243, 243, 0.5);

  --red-error-color: #da1414;
  --red-error-fifty-color: rgba(218, 20, 20, 0.5);
  --green-success-color: rgba(60, 188, 129, 1);
  --green-success-fifty-color: rgba(60, 188, 129, 0.5);

  --start-page-txt-color: #fafafa;

    --transition: 500ms ease-in;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  color: var(--white-color);
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.move {
  transform: translate(0px, -40px);
}
 /* calendar */
.MuiPaper-root.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
}

.MuiIconButton-root.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton {
  color: var(--white-color);
}

.MuiIconButton-root.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  color: var(--white-color);
}

.MuiIconButton-root.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
   color: var(--white-color);
}

.Mui-disabled.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button.Mui-disabled.MuiIconButton-edgeStart {
   color: rgba(239, 237, 232, 0.4);
}

.MuiDayCalendar-weekDayLabel.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: rgba(243, 243, 243, 0.5);
}

.MuiPickersDay-dayOutsideMonth.css-18wn1yb-MuiButtonBase-root-MuiPickersDay-root {
  color: var(--white-color);
}

.MuiPickersDay-root.Mui-disabled.Mui-disabled.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  color: rgba(243, 243, 243, 0.2);
}

.MuiPickersDay-today.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected.MuiPickersDay-root {
  background-color: var(--white-color);
  color: var(--black-color);
 
}

.MuiPickersDay-today.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
border: 1px solid rgba(243, 243, 243, 0.5);
}

.MuiPickersDay-root.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  color: var(--white-color)
}
